body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}
.content {
	margin: 100px 300px;
}
.img-user {
	display: block;
	margin: auto;
}
.social-list {
	display: block;
	text-align: center;
	margin: auto;
	padding: 0;
	list-style-type: none;
}
.social-list > li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.social-list > li >a {
	display: inline-block;
	text-decoration: none;
	padding: 5px 12px;
	padding-top: 11px;
	border-radius: 50%;
}
.social-list > li >a:hover {
	background-color: #ddd;
}
.text-center {
	text-align: center;
}
.btn-link {
	text-decoration: none;
	background-color: #2a76f5;
	color: #fff;
	margin: 10px 0;
	padding: 8px 15px;
	border-radius: 5px;
}
.btn-link:hover, 
.btn-link:focus {
	background-color: #235fc3;
}
.card {
	margin: 20px 0;
	padding: 15px;
	border: 1px #ddd solid;
	border-radius: 5px;
}

.table > tbody > tr td {
	padding: 8px 0;
}